
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');


ul li{

}
*{
  background-color: grey;
  color:darkblue;
  font-family: "IM Fell English SC";
}
a:hover{
  background-color: red;
}
